{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-success">Success, order has been send!</h1>
    </div>

    {% block content %}{% endblock %}
{% endblock %}