{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bikes list</h1>
    <div class="card" style="width: 18rem;">
        <img src="{{ bike.image }}" class="card-img-top" alt="{{ bike.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ bike.name }}</h5>
            <p class="card-text">{{ bike.description }}</p>
            <form method="post">
                {% if inBasket %}
                    <button disabled class="btn btn-secondary">Added to basket</button>
                {% else %}
                    <button class="btn btn-primary">Add to basket</button>
                {% endif %}
            </form>
        </div>
    </div>
    {% block content %}{% endblock %}
{% endblock %}