{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bikes list</h1>
    <div class="container">
        <button class="btn-danger">test</button>
        <ul class="list-group">
            {% for bike in bikes %}
                <li class="list-group-item">{{ bike.name }}</li>
                <li class="list-group-item"><a href="http://localhost:8000/first/{{bike.id}}"><img src="{{ bike.image }}"></a></li>
            {% endfor %}
        </ul>
    </div>

    {% block content %}{% endblock %}
{% endblock %}